@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+JP&display=swap');

html {
    scroll-behavior: smooth;
    background: var(--background-color, #f1f1f1);
}

body {
    width: 100vw;
    height: 100vw;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    color: #1F2023;
}

h2 {
    font-family: 'Noto Sans JP', sans-serif;
    color: #1F2023;
}

h3 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 12px;
    color: #1F2023;
}

.preptime {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: normal;
    color: #1F2023;
}

.recipe-description {
    font-family: 'Courier New', Courier, monospace;
    color: #1F2023;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
    gap: 20px;
    padding: 50px;
    max-width: 1200px;
}

.recipe-img {
    width: 100%;
    padding: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.recipe-img:hover {
    zoom: 120%;
    background-size: 120%;
}

.timestamp {
    display: flex;
    padding-left: 15px;
    align-items: center;
}

#clock {
  padding-right: 6px; 
}

.card {
    border-radius: 10px;
    background-color: #d9d9d915;
    display: flexbox;
    max-width: 450px;
}

.card-content {
    padding: 15px;
    margin-top: -25px;
    margin-bottom: 15px;
}

.primary-button {
    background: var(--button-bg, #D07138);
    border: none;
    padding: 10px 37px;
    color: #E7EDF0;
    transition: ease-in-out 0.4s;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.primary-button:hover {
    background: var(--button-bg-2, #503022);
}